
<form ng-submit="submit()">
  <md-radio-group [(value)]="selected" *ngFor="#item of meny">
    <md-radio-button value="{{item.id}}"
        class="md-primary"
        [checked]="selected == item.id"
        >{{item.name}}</md-radio-button>
  </md-radio-group>

<div>
    <legend><i class="fa fa-{{current().icon}} fa-lg"></i> Berenge {{current().name}}</legend>
</div>

<hr/>

<div layout-gt-sm="row">
  <md-input-container class="md-block" flex-gt-sm *ngIf="current().soc">
    <label>State of charge (%)</label>
    <input md-input [(ngModel)]="cons.soc" ngControl="ctrl_soc" #spy>
  </md-input-container>
  <md-input-container class="md-block" flex-gt-sm *ngIf="current().dist">
    <label>Kjørelengde (km)</label>
    <input md-input [(ngModel)]="cons.distance" ngControl="ctrl_dist">
  </md-input-container>
  <md-input-container class="md-block" flex-gt-sm *ngIf="current().consum">
    <label>Forbruk (kWh/100km)</label>
    <input md-input [(ngModel)]="cons.consumption" ngControl="ctrl_cons">
  </md-input-container>
</div>

</form>

<result-view name="{{current().name}}" result="{{calculate()|number:'.1-1'}}" unit="{{unitName()}}"></result-view>

<p>&nbsp;</p>
